name: Readme
on:
  push:
    branches: main
jobs:
  manual:
    name: Readme
    uses: emacscollective/workflows/.github/workflows/readme.yml@main
    secrets:
      rclone_config: ${{ secrets.RCLONE_CONFIG }}
